/* CSS Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body Styling */
body {
    background-color: #d9dcd6;
}

/* Header Section Positioning, font, and colors */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Header h1 Display formatting and Font Size */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changing Text color for 'SEO' Portion of 'Horiseon' */
 #seo {
    color: #d9dcd6;
}

/* header section styling */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;  
}
/* header navigation styling */
header nav li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* links styling */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Hero Background Image link + Formatting */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Main Section Styling */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
}

/* Class used to float elements left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Class used to float elements right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Figure Section Stylings */
figure {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Main content sections image sizing */
figure img {
    max-height: 200px;
}

/* Main content h2 style */
figure h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Aside Section Styling */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* Aside Titles Styling */
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Aside Images Styling */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Aside Paragraph Styling */
aside p {
    margin-bottom: 32px;
}

/* Footer Styling */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

